# Q. Declare a float value and store it in a variable.
##### Check the type and print the id of the same.

In [3]:
a = 6.5
print(f'type of {a} is: {type(a)}')
print(f'id of {a} is: {id(a)}')

type of 6.5 is: <class 'float'>
id of 6.5 is: 2287887898128

# Q. Arithmetic Operations on float
#### Take two different float values.
#### Store them in two different variables.
## Do below operations on them:-
- Find sum of both numbers
- Find difference between them
- Find the product of both numbers.
- Find value after dividing first num with second number
- Find the remainder after dividing first number with second number
- Find the quotient after dividing first number with second number
- Find the result of the first num to the power of the second number.

In [4]:
a = 3.9
b = 4.8

In [5]:
# Find sum of both numbers
print(f'Sum of {a} and {b} is: {a + b}')

Sum of 3.9 and 4.8 is: 8.7

In [6]:
# Find difference between them
print(f'Difference between {a} and {b} is: {a - b}')

Difference between 3.9 and 4.8 is: -0.8999999999999999

In [7]:
# Find the product of both numbers
print(f'Product of {a} and {b} is: {a * b}')

Product of 3.9 and 4.8 is: 18.72

In [8]:
# Find value after dividing first num with second number
print(f'Division of {a} and {b} is: {a / b}')

Division of 3.9 and 4.8 is: 0.8125

In [9]:
# Find the remainder after dividing first number with second number
print(f'remainder after dividing {a} with {b} is : {a % b}')

remainder after dividing 3.9 with 4.8 is : 3.9

In [10]:
# Find the quotient after dividing first number with second number
print(f'The quotient after dividing {a} with {b} is: {a // b}')

The quotient after dividing 3.9 with 4.8 is: 0.0

In [11]:
# Find the result of the first num to the power of the second number
print(f'The result of {a} to the power of {b} is: {a ** b}')

The result of 3.9 to the power of 4.8 is: 687.2426657109351

# Q. Comparison Operators on float
#### Take two different float values.
#### Store them in two different variables.
### Do below operations on them:-
#### Compare these two numbers with below operator:-
- Greater than, '>'
- Smaller than, '<'
- Greater than or equal to, '>='
- Less than or equal to, '<='
- Observe their output(return type should be boolean)

In [12]:
a = 12.8
b = 20.6

In [13]:
# Greater than, '>'
print(a > b)

False

In [14]:
# Smaller than, '<'
print(a < b)

True

In [15]:
# Greater than or equal to, '>='
print(a >= b)

False

In [17]:
# Less than or equal to, '<='
print(a <= b)

True

# Q. Equality Operator
#### Take two different float values.
#### Store them in two different variables.
### Equate them using equality operators (==, !=)
##### Observe the output(return type should be boolean)

In [18]:
a = 4.5
b = 6.4

In [20]:
# Equate them using equality operators (==, !=)
print(a == b)

False

In [21]:
print(a != b)

True

# Q. Logical operators
#### Observe the output of below code
##### Cross check the output manually
- print(10.20 and 20.30) #both are true and second value taken>Output is 20.3
- print(0.0 and 20.30) #First is false so first value
taken->Output is 0.0

- print(20.30 and 0.0) #Goes to till second and second value is
false so second is taken>Output is 0.0
- print(0.0 and 0.0) #First is false so first value is
taken->Output is 0.0
- print(10.20 or 20.30) #First is True so first value is
taken>Output is 10.2
- print(0.0 or 20.30) #Goes to till second and second is true
second value is taken->Output is 20.3
- print(20.30 or 0.0) #First is True so first value is
taken->Output is 20.3
- print(0.0 or 0.0) #Goes to till second and second is also
false and second value is taken>Output is 0.0
- print(not 10.20) #-Not of true is false->Output is False
- print(not 0.0) #Not of false is True>Output is True

In [22]:
print(10.20 and 20.30)

20.3

In [23]:
print(0.0 and 20.30)

0.0

In [24]:
print(20.30 and 0.0)

0.0

In [25]:
print(0.0 and 0.0)

0.0

In [26]:
print(10.20 or 20.30)

10.2

In [27]:
print(0.0 or 20.30)

20.3

In [28]:
print(20.30 or 0.0)

20.3

In [29]:
print(0.0 or 0.0)

0.0

In [30]:
print(not 10.20)

False

In [31]:
print(not 0.0)

True

# Q. What is the output of expression inside print statement. Cross checkbefore running the program.
- a = 10.20
- b - 10.20
- print(a is b) #True or False? True 10.20<256
- print(a is not b) #True or False? False
- Why the Id of float values are different when the same value is
assigned to two different variables
- ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same

In [32]:
a = 10.20
b = 10.20

In [33]:
print(a is b)

False

In [34]:
print(a is not b)

True

In [35]:
id(a)

2287887899344

In [36]:
id(b)

2287887900336

##### Why the Id of float values are different when the same value is assigned to two different variables?
- Float values does not use memory reusability concept, because sometimes the floating values might differ depending on the calculations for example 4.3 and 4.33 are two different objects eventhough they start with same number but their decimal values are different. so, if same memory location is allocated for those it will cause issues. That is why even both variables assigned same value the memory location i.e id is different

# Q. Bitwise operation is not applicable between instances of float.
-Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same
Object reusability concept is not applicable on float values.

In [37]:
# The id are same in this case because they both use same memory location reference

# Q. Membership operation
#### in, not in are two membership operators and it returns boolean value
- print('2.7' in 'Python2.7.8') #True
- print(10.20 in [10,10.20,10+20j,'Python']) #True
- print(10.20 in (10,10.20,10+20j,'Python')) # True
- print(20.30 in {1,20.30,30+40j}) # True
- print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
- print(10 in range(20)) # True

In [38]:
print('2.7' in 'Python2.7.8')

True

In [39]:
print(10.20 in [10,10.20,10+20j,'Python'])

True

In [40]:
print(10.20 in (10,10.20,10+20j,'Python'))

True

In [41]:
print(20.30 in {1,20.30,30+40j})

True

In [42]:
print(2.3 in {1:100, 2.3:200, 30+40j:300})

True

In [43]:
print(10 in range(20))

True